MLFLOW_TRACKING_URI=http://185.50.38.163:33014
MLFLOW_TRACKING_USERNAME=student_your_username
MLFLOW_TRACKING_PASSWORD=your_mlflow_password
EXPERIMENT_NAME=qbc12_hw02_student_your_username
QBC12_STUDENT_ID=student_your_username
MODEL_RUN_ID=
